h1{
    display: block;
    border-bottom: 1px gray solid;
    padding: 5px 5px 5px 5px;
    vertical-align: middle;
    background-color:darkgreen;
}

.result ul{
    padding-left: 2px;
    display: inline;
    list-style-type: none;
}

