{% for result in results %}
<div class="row">
	<div class="col">
		<h2 class="pull-left"><a href="mailto:{{ result.email }}">{{ result.name }}</a></h2>
		{% if not result.affiliations or 'Student' in result.affiliations %}
		<h2 class="pull-right">{{ result.department }}</h2>
		{% else %}
		<h2 class="pull-right">{{ result.affiliations[0] }}</h2>
		{% endif %}
	</div>
</div>
<div class="row">
	<div class="col col-lg-12">
		<address>
			<strong>Blitz:</strong> <a href="mailto:{{ result.email }}">{{ result.email }}</a></br>
			{% if result.hinman %}
			<strong>Hinman:</strong> {{ result.hinman }}<br />
			{% endif %}
			{% if result.phone %}
			<strong>Phone:</strong> {{ result.phone }}<br />
			{% endif %}
			{% if result.website %}
			<strong>Website:</strong> <a href="{{ result.website }}">{{ result.website }}</a><br />
			{% endif %}
			<strong>ID:</strong> {{ result.uid }}
		</address>
	</div>
</div>
<hr />
{% endfor %}
